div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;

  label {
    font-size: 8px;
    font-weight: 500;
    color: #333333;
  }

  input {
    height: 1.5rem;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 0 0.5rem;
    font-size: 8px;
    font-weight: 400;
  }
}
